/*
p.groove {
	border-left: 6px solid red;
	background-color: blue;
}


p {

	border-bottom: 6px  solid green;
  	background-color: yellow;
  	border-radius: 6px;
}


h1.h1{
	border-style: ridge;
	border-width: medium;
	border: 2px green;
	border-radius:5px;
	padding-top: 500px;
}

h1#h1 {
	border-style: inset;
	border-width: medium;
}

p.dotted {
	border-style: mixed;
	border-width: medium;
	padding-top: 100px;
}

p.dotted#dotted {
	border-style:dotted dashed solid double;
	border-width: medium;
	border-radius: 0px;
}*/

div{
	margin:auto;
}